body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.todos {
  background-color: chocolate;
  color: #fff;
 
}

.todo {
   border-bottom: 1px solid #fff;
   min-height: 40px;
   text-align: center;
}

.todo:hover {
  background-color: red;
}

div.sidebar {
  text-align: center;
}

div.menu-item {
  border-bottom: 1px solid #fff;
  background-color: chocolate;
  min-height: 40px;
  text-align: center;
  color: #fff;
}

div.menu-item:hover {
  background-color: red;
}

/* Style todo */
div.todos {
  text-align: center;
}

div.todos li.todo {
  list-style-type: none;
  background-color: forestgreen;
  min-width: 160px;
  text-align: center;
}

div.todos li.todo:hover {
  border-bottom: 1px solid darkolivegreen;
  background-color: darkolivegreen;
}

/* Dynamic Content */
div.dynamic {
  max-width: 400px;
  margin-left: 20px;
}
div.dynamic div.dynamic-item {
  background-color: chocolate;
  text-align: center;
  color: #fff;
}

div.dynamic div.dynamic-item:hover > p {
    border-bottom: 1px solid #fff;
}